body {
    background-color: #224369;
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    font-size: 3rem;
    text-align: right;
}

h2 {
    font-family: monospace;
    font-size: 3rem;
    font-variant: small-caps;
}

p {
    line-height: 200%;
    text-indent: 3em;
}

strong {
    color: rgb(204, 119, 58);
}

em {
    background-color: rosybrown;
    color: forestgreen;
}

span {
    color: salmon;
    font-family: "Comic Sans", cursive;
}

time {
    color: darkmagenta;
}

address {
    font-size: 0.8rem;
    text-align: center;
}